openapi: 3.2.0
info:
  description: '# What is the Bandsintown API?'
  version: 3.0.0
  title: Bandsintown artist events API
  contact:
    name: Bandsintown
    url: https://bandsintown.com/
  license:
    name: Terms and Conditions
    url: https://corp.bandsintown.com/data-applications-terms
servers:
- url: https://rest.bandsintown.com
tags:
- name: artist events
paths:
  /artists/{artistname}/events:
    get:
      tags:
      - artist events
      summary: Get upcoming, past, or all artist events, or events within a date range
      operationId: artistEvents
      description: artist events
      parameters:
      - in: path
        name: artistname
        description: 'The name of the artist. If it contains one of the special characters below, please be sure to replace it by the corresponding code: for / use %252F, for ? use %253F, for * use %252A, and for " use %27C'
        required: true
        schema:
          type: string
      - in: query
        name: app_id
        description: The application ID assigned to you by Bandsintown
        required: true
        schema:
          type: string
      - in: query
        name: date
        description: 'Can be one of the following values: "upcoming", "past", "all", or a date range e.g. "2015-05-05,2017-05-05". If not specified, only upcoming shows are returned'
        required: false
        schema:
          type: string
      responses:
        200:
          description: Shows within a date range for the selected artist
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventData'
components:
  schemas:
    EventData:
      type: object
      required:
      - id
      - artist_id
      - url
      - on_sale_datetime
      - datetime
      - venue
      - offers
      - lineup
      properties:
        id:
          type: string
          format: integer
          example: '13722599'
        artist_id:
          type: string
          format: integer
          example: '438314'
        url:
          type: string
          format: url
          example: http://www.bandsintown.com/event/13722599?app_id=foo&artist=Skrillex&came_from=67
        on_sale_datetime:
          type: string
          format: datetime
          example: '2017-03-01T18:00:00'
        datetime:
          type: string
          format: datetime
          example: '2017-03-19T11:00:00'
        description:
          type: string
          example: This is a description
        venue:
          $ref: '#/components/schemas/VenueData'
        offers:
          type: array
          items:
            $ref: '#/components/schemas/OfferData'
        lineup:
          type: array
          items:
            type: string
    OfferData:
      type: object
      required:
      - type
      - url
      - status
      properties:
        type:
          type: string
          example: Tickets
        url:
          type: string
          format: url
          example: http://www.bandsintown.com/event/13722599/buy_tickets?app_id=foo&artist=Skrillex&came_from=67
        status:
          type: string
          example: available
    VenueData:
      type: object
      required:
      - name
      - latitude
      - longitude
      - city
      - region
      - country
      properties:
        name:
          type: string
          example: Encore Beach Club
        latitude:
          type: string
          format: double
          example: '36.12714'
        longitude:
          type: string
          format: double
          example: '-115.1629562'
        city:
          type: string
          example: Las Vegas
        region:
          type: string
          example: NV
        country:
          type: string
          example: United States
