openapi: 3.2.0
info:
  description: '# What is the Bandsintown API?'
  version: 3.0.0
  title: Bandsintown artist information API
  contact:
    name: Bandsintown
    url: https://bandsintown.com/
  license:
    name: Terms and Conditions
    url: https://corp.bandsintown.com/data-applications-terms
servers:
- url: https://rest.bandsintown.com
tags:
- name: artist information
paths:
  /artists/{artistname}:
    get:
      tags:
      - artist information
      summary: Get artist information
      operationId: artist
      parameters:
      - in: path
        name: artistname
        description: 'The name of the artist. If it contains one of the special characters below, please be sure to replace it by the corresponding code: for / use %252F, for ? use %253F, for * use %252A, and for " use %27C'
        required: true
        schema:
          type: string
      - in: query
        name: app_id
        description: The application ID assigned to you by Bandsintown
        required: true
        schema:
          type: string
      responses:
        200:
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistData'
components:
  schemas:
    ArtistData:
      type: object
      required:
      - name
      - url
      - image_url
      - thumb_url
      - facebook_page_url
      - mbid
      - tracker_count
      - upcoming_event_count
      properties:
        id:
          type: integer
          example: 510
        name:
          type: string
          example: Maroon 5
        url:
          type: string
          format: url
          example: http://www.bandsintown.com/Maroon5?came_from=67
        image_url:
          type: string
          format: url
          example: https://s3.amazonaws.com/bit-photos/large/7481529.jpeg
        thumb_url:
          type: string
          format: url
          example: https://s3.amazonaws.com/bit-photos/thumb/7481529.jpeg
        facebook_page_url:
          type: string
          format: url
          example: https://www.facebook.com/maroon5
        mbid:
          type: string
          example: 0ab49580-c84f-44d4-875f-d83760ea2cfe
        tracker_count:
          type: integer
        upcoming_event_count:
          type: integer
